*{
    scroll-behavior: smooth;
}
body{
    font-family:'Courier New', Courier, monospace;
    width: 80%;
    margin: auto;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width:90%;
    flex-wrap: wrap;
}

nav > a {
    text-decoration: none;
    color:black;
}

.title{
    text-align: center;
    padding: 15% 5% 15% 5%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.title > h1{
    margin: 10%;
}

.boxes{
    display:flex;
    padding: 15% 0 15% 0;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.boxes > h3 {
    width: 100%;
    text-align: center;
}

.box{
    border: solid;
    border-width: 1px;
    width: 250px;
    height:250px;
    text-align: center;
    margin: 7% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-us{
    text-align: center;
    padding: 15% 5% 15% 5%;
}

.about-us > h3 {
    margin:10%;
}


.contact-us{
    padding: 15% 5% 15% 5%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
}

form{
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

input{
    width: 50%;
    margin: 2% auto;
    padding: 3%;
}

textarea{
    width: 50%;
    margin: 2% auto;
    padding: 3%;
}

button{
    width: 20%;
    height:2rem;
}

@media(max-width: 1000px){

    header > h1 {
        width:100%;
        text-align:center;
    }

    .boxes{
        flex-wrap: wrap;
    }

    .body{
        width:100%;
    }

    header{
        justify-content:space-between;
        flex-direction:column;
    }

    form{
        width:160%;
    }

}
