*{
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;
    width:100%;
    background-color: #393e46;
    color: white;
}

body{
    margin:0;
}

.brand{
    margin:1% 2%; 
}

header > h1 > a {
    text-decoration: none;
    margin:0 10px;
    color:white;
}

nav{
    margin:2%;
}

nav > a  {
    text-decoration: none;
    margin:0 10px;
    color:white;
}

.title{
    padding: 5%;
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    justify-content:space-around;
    background-color: #00adb5;
}

.title > h1{
    margin-bottom: 0;
    font-size:100px;
}

.title > h2{
    margin-top:0;
}

.title > a {
    text-decoration: none;
    color:black;
    margin:0 10px;
    font-weight: 400;
}

.title > a > button{
    width: 100%;
}

.boxes{
    display:flex;
    padding: 5%;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: #aad8d3;
}

.content{
    margin:0;
}

.boxes > h3 {
    width: 100%;
    text-align: center;
}

.box{
    border: solid;
    border-width: 1px;
    width: 250px;
    height:250px;
    text-align: center;
    margin: 7% 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .5s;
}

.box:hover{
    transform: scale(1.1)
}

.about-us{
    text-align: center;
    padding: 5%;
    background-color: #eeeeee;
}

.about-us > h3 {
    margin:4%;
}

.about-us > p {
    margin:4%;
}


.contact-us{
    padding: 5%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    background-color: #f8f5f1;
}

form{
    width: 60%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

input{
    width: 50%;
    margin: 2% auto;
    padding: 3%;
}

textarea{
    width: 50%;
    margin: 2% auto;
    padding: 3%;
}

button{
    width: 20%;
    height:2rem;
}

@media(max-width: 1000px){

    header > .brand {
        text-align:center;
    }

    .boxes{
        flex-wrap: wrap;
    }

    .body{
        width:100%;
    }

    header{
        justify-content:space-between;
        flex-direction:column;
    }

    form{
        width:100%;
    }
    
    form > input[type="text"] {
        width:70%;
    }

    form > textarea {
        width: 70%;
    }

}
